footer#footer
  block footer
    p Slack Team Based Authentication Template
    p: a(href='https://github.com/slackapi/template-account-binding') GitHub
    p: a(href='https://api.slack.com') Slack API Documentation
