doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='description', content='Slack Team Based Authentication Template')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Slack Team Based Authentication Template - #{title}
    link(rel='stylesheet', href='/app.css')
  body(class=pageName ? `page-${pageName}` : '')
    #container
      include includes/header.pug
      block content
      include includes/footer.pug
